body {
    margin: auto;
    text-align: center;
    width: 1000px;
    background-color: lightgray;
    padding: 10px;
}

table{
    width:100%;
    margin: auto;
    text-align: center;
}
table td, table th {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #b3cce6;
}
table th {
    background: white;
}
.pagination-div{
    user-select: none;
}
.pagination-div span{
    border-radius:3px;
    border:1px solid #999;
    padding:5px;
    margin:10px 0px 0px 10px;
    display:inline-block;
}
span.selected{
    background: darkgray;
}